.App {
  text-align: center;
}

.mydiv{
  
  display: flex;
  justify-content: space-around;
  margin: 10px 7%;
  box-shadow: 1px 1px 5px grey;
  padding: 10px;

}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image-item{
  width: 20%;
  margin: 10px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    border: 1px solid black;
  
  /* Add rounded corners to the top left and the top right corner of the image */
  
  
}

img{

  border-radius: 5px 5px 0 0;
}